.title{
    font-weight: 700;
    margin: 0px !important;
    font-size: 5em;
}

.main{
    padding: 0px;
    margin: 0px;
    background-image: url(../images/resorts/dubai/img-33.jpg);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.title{
    text-shadow: 0px 3px 5px #000;
    pointer-events: none;
}

.title-container a{
    color: #fff;
    text-decoration: none !important;
    font-weight: bold;
    text-shadow: 0px 3px 5px #000;
}

.title-container a:hover{
    color: #ffeb3b
}

.title-container span{
    font-weight: bold;
    text-shadow: 0px 3px 5px #000;
    pointer-events: none;
}

.title-container span > a{
    pointer-events: auto;
}

.blog-cards{
    padding: 10px;
    color: white !important;
    margin-bottom: 20px;
    border: 1px solid #000;
    box-shadow: 0px 0px 50px #000;
}

.blog-card-details{
    padding: 15px 30px;
    padding-bottom: 0px !important;
    width: 100%;
}

.rate-rev{
    margin-right: 10px;
    margin-bottom: 0px !important;
    line-height: 20px;
    width: 89px;
}

.rate-rev > span{
    font-size: 14px;
    font-weight: 100;
}

.rating{
    padding: 10px;
    margin: 0px !important;
    background-color: #fff;
    background: transparent;
    height: 50px !important;
    line-height: 30px !important;
    width: 55px !important;
    font-size: 20px !important;
}

.rating:hover{
    color: #fff;
    border-radius: 0px;
}

.rate, .blog-card-bottom{
    display: flex;
}

.rate{
    margin-left: auto;
    margin-right: 30px;
}

.price-button{
    color: #fff;
    background: transparent;
    padding: 20px;
    height: 45px;
    font-weight: 700;
    width: 131px;
    text-transform: capitalize;
    text-align: center;
    line-height: 10px !important;
    width: 171px;
    font-size: 18px !important;
}

.price-button:hover{
    color: #fff;
    text-decoration: none !important;
}

.blog-card-bottom{
    padding-top: 20px;
    padding-bottom: 10px !important;
}

.desc{
    font-weight: 700;
    font-size: 15px;
    padding-top: 20px;
    line-height: 30px;
    margin-bottom: 0px !important;
    color: rgba(255, 255, 255, 0.5);
}

.card-title{
    font-weight: 600;
}

.blog-card-details > a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
    font-weight: bold;
}

.blog-card-details > a:hover{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.after-link{
    font-size: 12px;
    font-weight: 100;
}

.main-content{
    padding: 20px;
    background-color: rgb(14, 9, 35);
}

.card-title > a{
    color: rgb(255, 255, 255) !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    font-weight: 100;
}

.main-title{
    text-align: center;
    color: #fff;
    padding: 50px;
    padding-bottom: 40px;
}

.main-title > h1{
    font-weight: 700;
    font-size: 45px;
    text-shadow: 1px 4px 20px #000;
    margin: auto;
}

.main-title > p{
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 10px;
}

.category-ul{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding: 10px;
    font-weight: 700;
}

.m-t{
    margin-top: 40px;
    margin-bottom: 0px;
}

.category{
    box-shadow: 0px 0px 50px #000;
}

.category-ul > h3{
    color: rgba(255, 255, 255, 1);
    margin-right: 25px;
}

.category-ul > li{
    list-style: none !important;
    line-height: 40px;
}

#dubai, #london, #china, #canada, #egypt, #paris{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none !important;
    cursor: pointer;
}

#dubai:hover, #london:hover, #china:hover, #canada:hover, #egypt:hover, #paris:hover{
    color: rgb(255, 255, 255);
}

.category-ul > li > pre{
    margin: 0px !important;
    color: #fff;
}

/* Custom Pagination */

.myCustonPag{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

#pagination-container{
    display: flex;
    justify-content: center;
}

.paginacaoValor.customPagination, #afterPagination, #beforePagination{
    padding: 2px 10px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 5px 20px #000;
}

.activePagination{
    color: #fff !important;
}

/* All Media Queries Start */

@media (min-width: 989px){
    .bg-filter{
        height: 60vh !important;
    }
    .title-container{
        position: absolute;
        top: 130px !important;
        right: 0;
        left: 0;
        text-align: center;
        justify-content: center;
        height: 18%;
        margin: auto;
        color: #fff;
        text-transform: uppercase;
    }
    .center{
        opacity: 0;
    }
}

@media (max-width: 988px){
    .bg-filter{
        height: 100vh !important;
    }
    .title-container{
        position: absolute;
        top: 170px !important;
        right: 0;
        left: 0;
        text-align: center;
        justify-content: center;
        height: 18%;
        margin: auto;
        color: #fff;
        text-transform: uppercase;
    }
    .center{
        opacity: 1;
    }
}

@media (min-width: 989px){
    .blog-cards{
        display: flex;
    }
    .blog-card-img > a > img{
        width: 350px;
        height: 100%;
    }
    .category > h3{
        display: none;
    }
}

@media (max-width: 988px){
    .blog-cards{
        display: block;
    }
    .blog-card-img > a > img{
        width: 100%;
        height: 400px;
    }
    .category > h3{
        display: none;
    }
}

@media (max-width: 641px){
    .blog-card-img > a > img{
        width: 100%;
        height: 300px;
    }
    .category-ul > h3{
        display: none;
    }
    .category > h3{
        display: block;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        padding-top: 15px;
    }
}

/* All Media Queries End */